.underlined {
	text-decoration: line-through; /* зачеркивает*/
	font-size: 160%;
	display: inline;
}

#header {
    background: #2F4F4F;
    height: 160px;
}

.btn { margin-left: 30px; } /*отступ*/

input[type=checkbox] { 
transform: scale(2); 
-ms-transform: scale(2); 
-webkit-transform: scale(2); 
padding: 10px; 
}

span
{
	text-align: center;
    margin-right: auto;
}

input[type=text]{
		position: absolute;
		left: 30%;
		width:30%;
		padding:8px;
		outline:none;
	}
	
input[type=text]:focus{
border-color:#9ACEEB;
box-shadow:0 0 8px 0 #9ACEEB;
}

t button{ /*кнопка сохранить*/
position: absolute;
left: 62%;
padding:8px 18px;
outline:none;
}

body {
	background-color: #705335;
}

.navList {
	display:inline-block;
	width: 80%;
	box-shadow:10px 3px 25px rgba(0,0,0,0.26);
	font-size: 160%;
}










